<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
  <% if user_signed_in? %>
    <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: {confirm: "로그아웃 하시겠습니까?"} %>
  <% else %>
    <%= link_to "SIGN IN", new_user_session_path, class: "btn btn-info" %>
  <% end %>
  <%= link_to "HOME", root_path, class: "btn btn-success" %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-warning" %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
